<h3>Ügyfél rögzítés</h3>
    <form>
        <div class="row">
            <div class="col-md-4">
                <label>
                    Név
                </label>
                <input ng-model="rogzitendoUgyfel.nev" type="text" class="form-control" placeholder="Név">
            </div>
            <div class="col-md-4">
                <label>
                    Ország
                </label>
                <input ng-model="rogzitendoUgyfel.orszag" type="text" class="form-control" placeholder="Ország">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>
                    Helység
                </label>
                <input ng-model="rogzitendoUgyfel.helyseg" type="text" class="form-control" placeholder="Helység">

            </div>
            <div class="col-md-4">
                <label>
                    Irányítószám
                </label>
                <input ng-model="rogzitendoUgyfel.iranyitoszam" type="text" class="form-control" placeholder="Irányítószám">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>
                    Utca,házszám
                </label>
                <input ng-model="rogzitendoUgyfel.utcaHazszam" type="text" class="form-control" placeholder="Utca,házszám">
            </div>
            <div class="col-md-4">
                <label>
                    Személyi azonosító
                </label>
                <input ng-model="rogzitendoUgyfel.szemIgSzam" type="text" class="form-control" placeholder="Személyi azonosító">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>
                    Születési idő
                </label>
                <input ng-model="rogzitendoUgyfel.szuletesiIdo" type="date" class="form-control" placeholder="Születési idő">
            </div>
            <div class="col-md-4">
                <label>
                    Születési hely
                </label>
                <input ng-model="rogzitendoUgyfel.szuletesiHely" type="text" class="form-control" placeholder="Születési hely">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>
                    Státusz
                </label>
                <input ng-model="rogzitendoUgyfel.statusz" type="text" class="form-control" placeholder="Státusz">
            </div>
            <div class="col-md-4">
                <label>
                    Telefonszám
                </label>
                <input ng-model="rogzitendoUgyfel.telefonszam" type="text" class="form-control" placeholder="Telefonszám">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>
                    E-mail cím
                </label>
                <input ng-model="rogzitendoUgyfel.EMail" type="text" class="form-control" placeholder="E-mail cím">
            </div>
            <div class="col-md-4">
                <label>
                    Anyja neve
                </label>
                <input ng-model="rogzitendoUgyfel.anyjaNeve" type="text" class="form-control" placeholder="Anyja neve">
            </div>
         </div>
        <div class="row">
            <div class="col-md-4">
                <label>
                    Ügyfél jellege
                </label>
                <input ng-model="rogzitendoUgyfel.ugyfelJellege" type="text" class="form-control" placeholder="Ügyfél jellege">
            </div>
            <div class="col-md-4">
                <label>
                    Leánykori név
                </label>
                <input ng-model="rogzitendoUgyfel.leanykoriNev" type="text" class="form-control" placeholder="Leánykori név">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>
                    Adószám
                </label>
                <input ng-model="rogzitendoUgyfel.adoszam" type="text" class="form-control" placeholder="Adószám">
            </div>
        </div>
        <div class="text-center">
        <button class="btn btn-primary" ng-click="rogzUgyfel()"> Rögzítés </button>
        </div>
        </form>
